@import reset
@import variables
@import size-debug
@import main-header
@import homepage
@import paginator
@import section
@import single
@import sidebar
@import content-wrapper
@import signup-form
@import social-links
@import linktree


// ========================================
// STYLES THAT APPLY TO ALL PAGES
// ========================================

*
  font-family: $sans-serif
  box-sizing: border-box
body
  padding: 0
  margin: 0
  color: $text-default-color
  font-size: 18px
  background: #f0efef
  p, ul, li
    line-height: 1.8
    letter-spacing: .5px
a
  color: $purple
  &:hover
    text-decoration: underline
.button
  border: 2px solid white
  width: 13ch
  text-align: center
  padding: 4px 
  color: white
  text-decoration: none
  &:hover
    background: $teal
    color: white
    border-color: $teal
svg
  height: 2rem
  width: 2rem
// ========================================
// TYPOGRAPHY
// ========================================
*::selection
  background: lighten($gold, 20)
  color: $text-default-color// MAIN FOOTER
// ========================================
// MAIN FOOTER
// ========================================
.main-footer
  padding: 100px 0
  background: white
  display: flex
  justify-content: center
  align-items: center
  .inner-section
    padding: 0
    margin: 0 auto
    display: grid
    grid-gap: 50px
    grid-template-columns: 2fr 1fr
    max-width: $section-width
    padding: 20px 20px 20px 20px
  .contacts
    list-style: none
    padding: 0
    margin: 0
    a
      color: $text-default-color
      text-decoration: none
      padding: 0 5px
      &:hover
        background: $teal
        color: white
  .section-title
    color: $text-default-color
    margin-bottom: 1rem
.copyright
  width: 100%
  bottom: 0
  background: $purple
  height: 50px
  color: white
  display: flex
  justify-content: center
  align-items: center

// --------------------------------------
// Footer Media Queries
// --------------------------------------
@media screen and ($medium-screens)
  .main-footer
    .inner-section
      grid-template-columns: 1fr
      grid-gap: 20px
// ========================================
// Bible Tooltips
// ========================================
.bibleref
  text-decoration: none
.bg_popup
  box-shadow: 1px 1px 5px rgba(black, .3s)
.bg_popup-header 
	background-color: #333
	background-image: none
	color: white
	.bg_popup-header_title
		color: white
		text-transform: uppercase
.bg_popup-content
	background-color: white
	line-height: 1.5
	color: #666666
	.bg_popup-content-bible
		background: none
		.bg_popup-copyright
			color: #333
		.bg_popup-more
			color: $teal
			&::before
				content: "Read "
.bg_popup-footer 
    background-image: none
    background-color: $purple


