{{ define "main"}}
  {{ partial "post-info.html" .}}
    <section class="content">
      <figure class="bookcover-figure">
        {{ if .Resources.ByType "image" }}
      {{ range first 1 (.Resources.ByType "image") }}

      <img loading="lazy"  class='bookcover' alt='Cover art for "{{.Title}}"'
      srcset='
        {{ (.Fill "320x462 Center").RelPermalink }} 320w,
        {{ (.Fill "600x866 Center").RelPermalink }} 600w,
        {{ (.Fill "1200x1733 Center").RelPermalink }} 2x'

      src='{{ (.Fill "600x866 Center").Permalink }}'>
    {{end}}
    {{else}}
    {{$placeholderImage := "/img/coverArtComingSoon_300_ppi.png"}}
    <img loading="lazy"  alt='Cover art for "{{.Title}}" coming soon' class="bookcover" src="https://placehold.it/180x260" >
    {{end}}
    <figcaption>Cover of <em>{{.Title}}</em> </figcaption>
      </figure>
      {{ .Content }}
    </section>
  {{ partial "next-prev.html" .}}
  {{ template "_internal/disqus.html" .}}
{{end}}
