<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body class="{{.Kind }} {{.Type}}">
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
              {{ block "main" . }}
              {{ end }}
              {{ partial "footer.html" .}}
          </div>
      </div>
  </div>
  {{ partial "scripts.html" . }}
  
  {{ $scripts := resources.Get "js/scripts.js" | minify }}
  <script src="{{ $scripts.Permalink }}"></script>

</body>
</html>
