<article class="bookclub-item">
  {{ if .Resources.ByType "image" }}
    {{ range first 1 (.Resources.ByType "image") }}

      <img class='bookcover' alt='Cover art for "{{.Title}}"'
      srcset='
        {{ (.Fill "320x462 Center").RelPermalink }} 320w,
        {{ (.Fill "600x866 Center").RelPermalink }} 600w,
        {{ (.Fill "1200x1733 Center").RelPermalink }} 2x'

      src='{{ (.Fill "600x866 Center").Permalink }}'>
    {{end}}
    {{else}}
    {{$placeholderImage := "/img/coverArtComingSoon_300_ppi.png"}}
    <img alt='Cover art for "{{.Title}}" coming soon' class="bookcover" src="https://placehold.it/180x260" >
    {{end}}
  <div class="book-info">
    <h2 class="book-title">{{ .Title }}</h2>
    <p class="book-author">by {{ .Param "author" }}</p>
    <p class="book-rating">Goodreads Rating: {{ .Param "goodreads" }}</p>
    <p class="book-description">{{.Summary}}</p>
    <a href="{{ .Permalink }}" class="readmore button">Read More</a>
  </div>

</article>