  <footer class="home-panel main-footer">
    <section class="inner-section">
      <section class="about" id="about">
        <h2 class="section-title">
          About
        </h2>
        <p class="about-description">
          Tweets From Heaven is designed to make the Bible more relatable and inspire you to dive into it. TFH was started with the promise of John 12:32 in mind: when Jesus is lifted up, He draws all people to Himself.
        </p>
      </section>
      <section class="connect" id="connect">
        <h2 class="section-title">
          Connect
        </h2>
        <ul class="contacts">
          <li> <a href="https://www.instagram.com/tweets.from.heaven/" target="_blank" rel="noopener">Follow TFH on Instagram</a> </li>
          <li><a href="https://twitter.com/TweetsFromHvn" target="_blank" rel="noopener">Follow TFH on Twitter</a></li>
          <li><a href="https://www.youtube.com/channel/UCBYOqM9-RY9bM6bGaqt8INw" target="_blank" rel="noopener">Follow TFH on Youtube</a></li>
        </ul>
      </section>
    </section>
  </footer>
  {{partial "svg-sprite.html"}}
  <!-- Load Scripts -->
  <script src="https://www.biblegateway.com/public/link-to-us/tooltips/bglinks.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  {{ $scripts := resources.Get "js/scripts.js" | minify }}
  <script src="{{ $scripts.Permalink }}"></script>