<header class="main-header">
  <nav class="main-nav" id="main-nav">
    <a href="/" class="nav-link"><li>Home</li></a>
    <a href="https://instagram.com/tweets.from.heaven" target="_blank" rel="noopener" class="nav-link"><li>Instagram</li></a>
    <a href="https://www.youtube.com/channel/UCBYOqM9-RY9bM6bGaqt8INw" target="_blank" rel="noopener" class="nav-link"><li>Youtube</li></a>
    <a href="https://twitter.com/tweetsfromhvn" target="_blank" rel="noopener" class="nav-link"><li>Twitter</li></a>
  </nav>
  {{ if .IsHome }}
  <section class="page-info">
    
      <h1 class="logo-wrap">
        <img src="/img/TFH_Logo_FullColor300ppi.png" alt="Tweets From Heaven" class="tweets-from-heaven-logo">
      </h1>  
      <p class="tagline">We&nbsp;lift&nbsp;Jesus. He&nbsp;draws&nbsp;us&nbsp;near.</p>
    
    
  </section>
  {{end}}
</header>

