<header class="main-header">
  
    <section class="main-header__navs">
      <div class="main-header__inner-wrapper">
      {{ partial "main-nav.html"}}
      <div class="header-social-links">
        {{partial "social-links.html"}}
      </div>
    </section>
  </div> 
    {{ if .IsHome }}
    <section class="page-info">
      
        <h1 class="logo-wrap">
          <img src="/img/TFH_Logo_FullColor300ppi.png" alt="Tweets From Heaven" class="tweets-from-heaven-logo">
        </h1>  
        <p class="tagline">We&nbsp;lift&nbsp;Jesus. He&nbsp;draws&nbsp;us&nbsp;near.</p>
      
      
    </section>
  
  {{end}}
</header>

