<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{.Title}} {{if .IsPage}}| Tweets From Heaven{{end}}</title>
  <!-- Open Graph Meta -->
  <meta property="og:title" content="{{.Title}}" />
  <meta property="og:type" content="{{if .IsHome}}Website{{end}}{{if eq .Section `posts`}}article{{end}}" />
  <meta property="og:site_name" content="Tweets From Heaven" />
  <meta property="og:description" content="{{.Description}}" />
  <meta property="og:url" content="{{.Permalink}}" /> {{ if .Resources.ByType `image` }}
  <meta property="og:image" content="{{ range first 1 (.Resources.ByType `image`) }}{{.Permalink}}{{end}}" />{{else}}
  <meta property="og:image" content="{{.Site.BaseURL}}img/TweetsFromHeaven_Logo_FullColor_ProfilePic72ppi.png">{{end}}
  <meta property="og:image:alt" content="{{.Title}} Cover Image" /> 
  <meta property="article:published_time" content="{{.Date}}" />
  <!-- Twitter Meta -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@TweetsFromHvn">
  <meta name="twitter:creator" content="@TweetsFromHvn">
  <meta name="twitter:title" content="{{.Title}}">
  <meta name="twitter:description" content="{{.Description}}">{{ if .Resources.ByType `image` }}
  <meta name="twitter:image" content="{{ range first 1 (.Resources.ByType `image`) }}{{.Permalink}}{{end}}">{{else}}
  <meta name="twitter:image" content="{{.Site.BaseURL}}img/TweetsFromHeaven_Logo_FullColor_ProfilePic72ppi.png">{{end}}
  <!-- Pintrest Rich Pins -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{.Title}}" />
  <meta property="og:description" content='{{.Description}}' />
  <meta property="og:url" content="{{.Permalink}}" />
  <meta property="og:site_name" content="Tweets From Heaven" />
  <meta property="article:published_time" content="{{.Date}}" />
  <meta property="article:author" content="{{.Params.authors}}" />



  <link rel="shortcut icon" type="image/jpg" href="/favicon.ico"/>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;900&display=swap" rel="stylesheet"> 
  {{ $options := (dict "outputStyle" "compressed" "minify" true)}}
  {{ $styles := resources.Get "sass/style.sass" | resources.ToCSS $options}}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" type="text/css" media="screen">
  <!-- <link rel="icon"  href="../img/favicon.ico”/> -->
</head>