<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
          {{ range .Pages.ByDate.Reverse }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}
                        {{ if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }}
                            {{$pageTitle := .Title }}
                            {{ if .Resources.ByType "image" }}
                              {{ range first 1 (.Resources.ByType "image") }}

                                <img class='image-responsive' alt='Cover art for "{{$pageTitle}}"'
                                srcset='
                                  {{ (.Resize "320x").RelPermalink }} 320w,
                                  {{ (.Resize "600x").RelPermalink }} 600w,
                                  {{ (.Resize "1200x").RelPermalink }} 2x'

                                src='{{ (.Resize "600x").Permalink }}'>
                              {{end}}
                            {{else}}
                              {{$placeholderImage := "/img/coverArtComingSoon_300_ppi.png"}}
                              <img alt='Cover art for "{{$pageTitle}}" coming soon' class="img-responsive" src="/img/coverArtComingSoon_300_ppi.png" >
                            {{end}}
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                          <div class="box-masonry-description">
                            <p>
                                {{ if .Description }}
                                  {{ .Description }}
                                {{ else }}
                                  {{ .Summary }}
                                {{ end }}
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>





                                