<section id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <article class="sidebar-content">
    <h1 class="sidebar-heading">
      <img loading="lazy"  src="/img/TweetsFromHeaven_Logo_FullColor_ProfilePic_72_ppi.png" alt="">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    <ul class="sidebar-menu">
      {{ range .Site.Params.navlinks }}
        <li><a href="{{ absURL .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ partial "social_buttons_in_sidebar.html" . }}
    {{/* {{ partial "signup.html" .}} */}}

    
  </article>
</section>
