{{ $related := .Site.RegularPages.RelatedIndices . "series" | last 3}}
{{ with $related }}
<section class="sidebar__section" id="in-this-series">
  <h1 class="sidebar__header">Also in this Series</h1>
  <ul class="sidebar__list">
    
    {{range . }}
      <li class="sidebar__list-item">
        <a href="{{.Permalink}}">
          {{ if .Resources.ByType "image" }}
            {{ range first 1 (.Resources.ByType "image") }}
              <img class='sidebar__list-item__image' alt='Cover art for "{{.Title}}"' src='{{ (.Fill "80x80 Center").Permalink }}'>
            {{end }}
          {{else}}
          {{$image := "/img/coverArtComingSoon_300_ppi.png"}}
          <img class='sidebar__list-item__image' alt='Cover art for "{{.Title}}" coming soon' src='{{ $image }}' >
          {{end}}
        <p class="sidebar__list-item__title">{{.Title}}</p>
    
        </a>
      </li>
      {{end}}
      {{end}}
  </ul>
</section>
<section class="signup sidebar__section" id="signup">
  {{ partial "signup-form.html" }}
</section>
<section class="sidebar__section" id="recent-posts">
  <h1 class="sidebar__header">Most Recent Posts</h1>
  <ul class="sidebar__list">
    {{ range first 3 (where .Site.Pages "Section" "instagram")}}
      <li class="sidebar__list-item">
        <a href="{{.Permalink}}">
          {{ if .Resources.ByType "image" }}
            {{ range first 1 (.Resources.ByType "image") }}
              <img class='sidebar__list-item__image' alt='Cover art for "{{.Title}}"' src='{{ (.Fill "80x80 Center").Permalink }}'>
            {{end }}
          {{else}}
          {{$image := "/img/coverArtComingSoon_300_ppi.png"}}
          <img class='sidebar__list-item__image' alt='Cover art for "{{.Title}}" coming soon' src='{{ $image }}' >
          {{end}}
          <p class="sidebar__list-item__title">{{.Title}}</p>
        </a>
      </li>
    {{end}}
  </ul>
</section>
<section class="sidebar__section" id="social-links">
  <p class="social-links__cta">Connect With TFH</p>
  {{ partial "social-links.html"}}
</section>
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<section class="sidebar__section" id="related-posts">
  <h1 class="sidebar__header">Related Posts</h1>
  <ul class="sidebar__list">   
    {{range . }}
      <li class="sidebar__list-item">
        <a href="{{.Permalink}}">
          {{ if .Resources.ByType "image" }}
            {{ range first 1 (.Resources.ByType "image") }}
              <img class='sidebar__list-item__image' alt='Cover art for "{{.Title}}"' src='{{ (.Fill "80x80 Center").Permalink }}'>
            {{end }}
          {{else}}
          {{$image := "/img/coverArtComingSoon_300_ppi.png"}}
          <img class='sidebar__list-item__image' alt='Cover art for "{{.Title}}" coming soon' src='{{ $image }}' >
          {{end}}
        <p class="sidebar__list-item__title">{{.Title}}</p>
    
        </a>
      </li>
      {{end}}
      {{end}}
  </ul>
</section>
