<!--Zoho Campaigns Web-Optin Form's Header Code Starts Here-->

<script type="text/javascript" src="https://kaye.maillist-manage.com/js/optin.min.js" onload="setupSF('sf959f5ead15a89c3e908c8106f5e8c856ab16e7ccaa8dd327','ZCFORMVIEW',false,'light',false,'0')"></script>
<script type="text/javascript">
	function runOnFormSubmit_sf959f5ead15a89c3e908c8106f5e8c856ab16e7ccaa8dd327(th){
		/*Before submit, if you want to trigger your event, "include your code here"*/
	};
</script>

<style>
#customForm.quick_form_21_css * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    overflow-wrap: break-word
}
@media only screen and (max-width: 200px) {.quick_form_21_css[name="SIGNUP_BODY"] { width: 100% !important; min-width: 100% !important; margin: 0px auto !important; padding: 0px !important } }
@media screen and (min-width: 320px) and (max-width: 580px) and (orientation: portrait) {.quick_form_21_css[name="SIGNUP_BODY"] { max-width: 300px !important; margin: 0px auto !important; padding: 0px !important } }
@media only screen and (max-device-width: 1024px) {.quick_form_21_css[name="SIGNUP_BODY"] { max-width: 500px !important; margin: 0px auto !important } }
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {.quick_form_21_css[name="SIGNUP_BODY"] { max-width: 700px !important; margin: 0px auto !important } }
@media screen and (min-width: 475px) and (max-width: 980px) and (orientation: landscape) {.quick_form_21_css[name="SIGNUP_BODY"] { max-width: 400px !important; margin: 0px auto !important; padding: 0px !important } }
</style>

<!--Zoho Campaigns Web-Optin Form's Header Code Ends Here--><!--Zoho Campaigns Web-Optin Form Starts Here-->

<div id="sf959f5ead15a89c3e908c8106f5e8c856ab16e7ccaa8dd327" data-type="signupform" style="opacity: 1;">
	<div id="customForm">
		<div class="quick_form_21_css"  name="SIGNUP_BODY">
			<div style="text-align: center">
				<div style="position:relative;margin:auto;">
					<div id="Zc_SignupSuccess" style="display:none;position:absolute;margin-left:4%;width:90%;background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154);  margin-top: 10px;margin-bottom:10px;word-break:break-all">
						<table width="100%" cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td width="10%">
										<img loading="lazy"  class="successicon" src="https://kaye.maillist-manage.com/images/challangeiconenable.jpg" align="absmiddle">
									</td>
									<td>
										<span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;Thank you for Signing Up</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
        <form method="POST" class="signup__form" id="zcampaignOptinForm" action="https://maillist-manage.com/weboptin.zc" target="_zcSignup">
					<div style="background-color: rgb(255, 235, 232); padding: 10px; color: rgb(210, 0, 0); font-size: 11px; margin: 20px 10px 0px; border: 1px solid rgb(255, 217, 211); opacity: 1; display: none" id="errorMsgDiv">Please correct the marked field(s) below.</div>
						<div id="Zc_SignupSuccess" style="position: absolute; width: 87%; background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154); margin-bottom: 10px; word-break: break-all; opacity: 1; display: none">
							<div style="width: 20px; padding: 5px; display: table-cell">
								<img loading="lazy"  class="successicon" src="https://campaigns.zoho.com/images/challangeiconenable.jpg" style="width: 20px">
							</div>
							<div style="display: table-cell">
								<span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px; line-height: 30px; display: block"></span>
							</div>
            </div>
          <p class="signup__form__cta">Sign up for updates from Tweets&nbsp;From&nbsp;Heaven!</p>
          <input class="signup__form__name" type="text"  placeholder="Name" changeitem="SIGNUP_FORM_FIELD" name="LASTNAME" id="EMBED_FORM_NAME_LABEL">          
          <input class="signup__form__email" type="text" placeholder="Email" changeitem="SIGNUP_FORM_FIELD" name="CONTACT_EMAIL" id="EMBED_FORM_EMAIL_LABEL">
          <input class="signup__form__submit" type="button" name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" value="Sign Up">
          <!-- Hidden Inputs -->
					<input type="hidden" id="fieldBorder" value="">
					<input type="hidden" id="submitType" name="submitType" value="optinCustomView">
					<input type="hidden" id="emailReportId" name="emailReportId" value="">
					<input type="hidden" id="formType" name="formType" value="QuickForm">
					<input type="hidden" name="zx" id="cmpZuid" value="1266fe4e7">
					<input type="hidden" name="zcvers" value="3.0">
					<input type="hidden" name="oldListIds" id="allCheckedListIds" value="">
					<input type="hidden" id="mode" name="mode" value="OptinCreateView">
					<input type="hidden" id="zcld" name="zcld" value="19b61432add53bf5">
					<input type="hidden" id="document_domain" value="">
					<input type="hidden" id="zc_Url" value="kaye.maillist-manage.com">
					<input type="hidden" id="new_optin_response_in" value="0">
					<input type="hidden" id="duplicate_optin_response_in" value="0">
					<input type="hidden" name="zc_trackCode" id="zc_trackCode" value="ZCFORMVIEW">
					<input type="hidden" id="zc_formIx" name="zc_formIx" value="959f5ead15a89c3e908c8106f5e8c856ab16e7ccaa8dd327">
					<input type="hidden" id="viewFrom" value="URL_ACTION">
					<span style="display: none" id="dt_CONTACT_EMAIL">1,true,6,Contact Email,2</span>
					<span style="display: none" id="dt_FIRSTNAME">1,false,1,First Name,2</span>
					<span style="display: none" id="dt_LASTNAME">1,false,1,Last Name,2</span>
				</form>
			</div>
		</div>
	</div>
	<img loading="lazy"  src="https://kaye.maillist-manage.com/images/spacer.gif" id="refImage" onload="referenceSetter(this)" style="display:none;">
</div>
<input type="hidden" id="signupFormType" value="QuickForm_Vertical">
<div id="zcOptinOverLay" oncontextmenu="return false" style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;"></div>
<div id="zcOptinSuccessPopup" style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
	<span style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;" id="closeSuccess">
		<img loading="lazy"  src="https://kaye.maillist-manage.com/images/videoclose.png">
	</span>
	<div id="zcOptinSuccessPanel"></div>
</div>

<!--Zoho Campaigns Web-Optin Form Ends Here-->