<p class="social-links__cta">Connect With TFH</p>
  <div class="social-links__list">
    <a target="_blank" rel="noopener" class="social-links__item" href="https://instagram.com/tweets.from.heaven">
      <svg viewbox="-9 -9 150 150">
	    	<use xlink:href="#instagram-icon" />
      </svg>
    </a>
    <a target="_blank" rel="noopener" class="social-links__item" href="https://twitter.com/tweetsfromhvn">
      <svg viewbox="-9 -9 150 150">
	    	<use xlink:href="#twitter-icon" />
      </svg>
    </a>
    <a target="_blank" rel="noopener" class="social-links__item" href="https://www.youtube.com/channel/UCBYOqM9-RY9bM6bGaqt8INw">
      <svg viewbox="-9 -9 150 150">
	    	<use xlink:href="#youtube-icon" />
      </svg>
    </a>
  </div>