
  <div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="inner-section tweets crt-logo crt-tag">Powered by Curator.io</a></div>
  <!-- The Javascript can be moved to the end of the html page before the </body> tag -->
  <script type="text/javascript">
  /* curator-feed-default-feed-layout */
  (function(){
  var i, e, d = document, s = "script";i = d.createElement("script");i.async = 1;
  i.src = "https://cdn.curator.io/published/97457233-9a13-4e6c-b405-41a713d2bde0.js";
  e = d.getElementsByTagName(s)[0];e.parentNode.insertBefore(i, e);
  })();
  </script>   