{{ $altText := .Get "alt"}}
{{ $caption := .Get "caption"}}
{{ $class := .Get "class"}}
{{ $resize := .Get "resize"}}
{{ $figureWrapper := .Get "figureWrapper"}}

{{ with $.Page.Resources.GetMatch (.Get "name") }}
  {{ if eq $figureWrapper "true"}}
    <figure class="post-image-figure">
      <a href="{{.RelPermalink}}">
  {{ end }}
  {{ if ne $resize "false"}}
      <img loading="lazy"  class="{{ $class }}"
        srcset="
          {{ (.Resize "320x").RelPermalink }} 320w,
          {{ (.Resize "600x").RelPermalink }} 600w,
          {{ (.Resize "1200x").RelPermalink }} 2x"
        src="{{ (.Resize "600x").RelPermalink }}" alt="{{$altText}}"/>
  {{ else }}
      <img loading="lazy"  src="{{.RelPermalink}}" alt="{{$altText}}" class="{{ $class }}">
  {{ end }}
  {{ if eq $figureWrapper "true"}}        
      </a>
      <figcaption class="post-image-caption"><p>{{ $caption }}</p></figcaption>
    </figure>
  {{ end }}
{{end }}
